li{
    list-style-type: none;
    background: lightyellow;
    height: 45px;
    width: 220px;
    border: 1px solid;
}

form{
    margin-top: 40px;
}
input{
    min-height: 23px;
    margin-right: 1rem;
}

